
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(1, 9, 23);
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 50;
}
.navbar .row{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    background-color: rgb(14, 81, 206);
    
}

.navbar .col1 ul{
    display: flex;
    align-items: center;
    
    
  
}
.col1 ul li{
    list-style: none;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: white;
}

.navbar .col2{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.navbar .col2 h1{
    margin-top: 2px;
}
.col2 img{
    height: 25px;
    width: 25px;
    padding: 10px;
    margin: 10px;
    
}

.col3{
    display: flex;
    justify-content: center;
    text-align: center;
} 
.col3 button {
padding: 10px;
margin: 10px;
color: aliceblue;
background-color:rgb(20, 73, 158); 
text-decoration: none;
list-style: none;

}
.col3 button:hover{
    background-color:rgb(146, 162, 187);  
}
.col1 ul li:hover{
    color: rgb(254, 164, 9);
    cursor: pointer;
}

/* homepage */
.container .row2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 95vh;
}
.col2{
display: grid;
grid-template-columns: 1fr 1fr 1FR ;

}
.row2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.row2.col1{
    padding: 10px;
    margin: 10px;
    

}

.row2 .col1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 50;
    
    
}
.row2 .col1 h1{
    font-size: xx-large;
    font-family: sans-serif;
    font-weight: bolder;
    margin-bottom: 20px;
    color: aliceblue;
    position: relative;
    z-index: 50px;

}
.row2 .col1 p{
font-family:  sans-serif;
font-size: 20px;
margin-bottom: 10PX;
color: aliceblue;
position: relative;
z-index: 50px;
}
.row2 .col1 button{
    margin-top: 20px;
   
}
.row2 .col2 img{
    height: 170px;
    width: 170px;
    border-radius: 20px;
    position: relative;
    z-index: 10;
    margin: -6px;
    padding: -6px;
    opacity: 0.8;
    border-radius: 2px solid black;
 
}
.lastpage .row3{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 80vh;

}
.row3 .col2{
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
}
.row3 .col2 img{
    height: 160px;
    width: 160px;
    border-radius: 20px;
}
.row3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.row3 p,h1{
    color: aliceblue;
    margin-top: 15px;
}
.row3 .col2 img:hover{

    scale: 1.2;
   
}
.row2 .col2 img:hover{
    scale: 1.1;
   transition: 1s;

}
